.movies-card-list {
  padding: 78px 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movies-card-list__container {
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 54px 30px;
  grid-template-columns: repeat(auto-fit, 360px);
}
.movies-card-list__error-container {
  text-align: center;
  padding-top: 20px;
}
.movies-card-list__more {
  padding: 76px 0 80px;
  display: flex;
  align-items: center;
}
.movies-card-list__btn-more {
  padding: 10px 150px;
  background-color: #f9f9f9;
  border-radius: 6px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 920px) {
  .movies-card-list {
    padding: 78px 30px 0;
  }
  .movies-card-list__container {
    gap: 43px 30px;
    grid-template-columns: repeat(auto-fit, 336px);
  }
  .movies-card-list__more {
    padding-top: 60px;
  }
}
@media screen and (max-width: 500px) {
  .movies-card-list {
    padding: 52px 10px 0;
  }
  .movies-card-list__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  .movies-card-list__btn-more {
    padding: 10px 110px;
  }
}
