.profile {
  padding: 74px 0 70px;
}
.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 410px;
  margin: 0 auto;
}
.profile__title {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 108px;
}
.profile__inputs-container {
  padding-bottom: 206px;
}
.profile__buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.profile__btn-edit {
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
}
.profile__btn-logout {
  color: #ff004d;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
}
.profile__btn-save {
  padding: 14px 167px;
  border-radius: 3px;
  background: #3456f3;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.profile__btn-save:disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}
.profile__submit-error {
  color: #ff004c;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  bottom: 64px;
}
@media screen and (max-width: 800px) {
  .profile {
    padding-top: 236px;
  }
  .profile__form {
    padding-top: 80px;
  }
  .profile__inputs-container {
    padding-bottom: 196px;
  }
}
@media screen and (max-width: 500px) {
  .profile {
    padding: 70px 0 40px;
  }
  .profile__container {
    max-width: 260px;
  }
  .profile__form {
    padding-top: 66px;
  }
  .profile__inputs-container {
    padding-bottom: 360px;
  }
  .profile__btn-save {
    padding: 14px 92px;
  }
}
