.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
}
.header_type_landing {
  background-color: #f3c1f8;
}
.header-auth {
  min-width: 396px;
  padding: 70px 0 40px;
  align-self: center;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 18px 30px;
  }
  .header-auth {
    padding-top: 232px;
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding: 18px 14px;
  }
  .header-auth {
    min-width: auto;
    padding-top: 56px;
    padding-bottom: 50px;
  }
}
